@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@700&family=Tourney:wght@300;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
body {
  background-color: #f5f2f0;
  font-family: "Montserrat";
}
li,
a {
  text-decoration: none;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}
nav ul {
  display: flex;
  align-items: center;
}
nav > img {
  height: 35px;
  margin-left: 25px;
}
nav ul li {
  margin-left: 2rem;
  font-size: 1rem;
  color: #808080;
}
nav ul li:nth-child(2) {
  color: black;
}
nav li:last-child {
  margin-right: 30px;
}
nav hr {
  border: 2px solid red;
}

/* main */
main .main-left > img {
  position: absolute;
  top: 0px;
  height: 730px;
  z-index: -1;
}
.main-right {
  display: flex;
  justify-content: space-around;
  float: center;
  margin-left: 40%;
  margin-right: 3%;
}
.main-right-left-container h1 {
  font-family: "Tourney";
  font-size: 6rem;
  font-weight: 300;
}
.main-right-left-container h1 div {
  display: inline-block;
  height: 10px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #515151;
  margin-bottom: 20px;
}
.main-right-left-container .tivity {
  margin-left: 25%;
  font-weight: 900;
  color: rgb(50, 50, 50);
}
.main-right-right-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 300px;
}
.main-right-right-container p {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.main-right-right-container ul {
  position: absolute;
  left: 0px;
}
.main-right-right-container ul li {
  margin-top: 25px;
}
.btn {
  background-color: #515151;
  color: #f5f2f0;
  padding: 18px 55px;
  border: 0px;
  font-size: 1rem;
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  margin-top: 30px;
}
.footer-left {
  display: flex;
}
.footer-left ul {
  margin-top: 15px;
}
.footer-left ul li {
  line-height: 75px;
  color: #808080;
}
.footer-left ul li:first-child {
  color: #2c2c2c;
}
.footer-mid {
  margin-top: 40px;
  margin-left: 70px;
}
.fa-quote-left {
  height: 20px;
  color: #2c2c2c;
}
.footer-mid p {
  margin: 20px 0px;
}
.footer-mid img {
  height: 300px;
}
.footer-right {
  float: right;
  margin-top: 160px;
}
.footer-right img {
  height: 180px;
}
.menu-container{
  display: none;
}

/* media queries */
@media only screen and (max-width:720px){
  nav ul{
    display: none;
  }
  .menu-container{
    display: block;
    
  }
  main .main-left > img {
    position: static;
  }
  .main-right{
    flex-direction: column;
    margin-left: 0px;
  }
  footer{
    flex-direction: column;
    margin-left: 0px;
  }
  .footer-left{
    margin-top: 60px;
    margin-left: 60%;
    
  }
  .main-right-right-container{
    position: static;
    flex-direction: column;
    margin-right: 0px;
  }
  .main-right-right-container p{
    position: static;
    margin-left: 300px;
  }
  .main-right-right-container ul{
    position: static;
    left: 0px;
    margin-top: 20px;
    display: flex;
    align-self: center;
  }
  .main-right-right-container ul li{
    margin-left: 20px;
  }
  .footer-mid {
    margin-left: 0px;
    width: 100vw;
    text-align: center;
  }
  .footer-right{
    margin-left: 350px;
    margin-top: 20px;
  }
}